.castCard {
    position:relative;
    p {
        position: absolute;
        bottom: 0px;
        left: 10px;
        color: rgb(130, 240, 255);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}
